.contenedorPrincipal{
    padding: 10px;
    margin-top: 50px;
    text-align: center;
    width: 40%;
    min-width: 500px;
    height: 450px;
    border-radius: 25px;
    background-color: rgb(207, 207, 207);
    display: flex;
    flex-direction: column;
}

.imagen{
    width: 350px;
}
.contenedorBotones{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: space-evenly;
}


.masInfoBoton{
    position: relative;
    padding: 15px 10px 15px 10px;
    border-radius: 20px;
    background-color: rgb(28, 111, 180);
    color:white;
    font-weight: 500;
    cursor: pointer;
}
.masInfoBoton:hover{
    background-color: rgb(0, 83, 151);
}

.botonIrAmazon{
    padding: 15px 10px 15px 10px;

    border-radius: 20px;
    font-weight: 500;
    background-color: #ffcc00;
    cursor: pointer;

}
.botonIrAmazon:hover{
    background-color: #e9ba00;
}