.contenedorPrincipal{
    padding: 20px;
    text-align: center;
    width: 40%;
    border-radius: 20%;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
}

.imagen{
    width: 400px;
}